   
<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type%>">
    <%= link_to "x","#", class: "close", "data-dismiss" => "alert" %>
    <%= content_tag :div, msg, id: "flash_#{type}" if msg.is_a?(String) %>
  </div>  
<%end%>